<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <!--The effect of this line is to look for a file called app/views/layouts/_stylesheets.html.erb, 
    	evaluate its contents, and insert the results into the view.-->
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
  	<!-- The div tag in HTML is a generic division; it doesn’t do anything apart from 
  		divide the document into distinct parts. In older style HTML, div tags are used for 
  		nearly all site divisions, but HTML5 adds the header, nav, and section elements for 
  		divisions common to many applications. All HTML elements, including divs and the new 
  		HTML5 elements, can be assigned classes2 and ids; these are merely labels, and are 
  		useful for styling with CSS (Section 5.1.2). The main difference between classes and 
  		ids is that classes can be used multiple times on a page, but ids can only be used once.-->    
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>